p.name {
    font-size: 65px;
    color: black;
    font-family: 'Times';
    margin: 0 auto;
    float: left;
    clear: both;
    margin-top: 2%;
    margin-left: 1%;
    font-weight: bold;
}

img.me {
    height: 350px;
    width: 350px;
    border: #FFFFFF 13px solid;
    border-radius: 200px;
    float: left;
    margin-left: 1%
}

@media only screen and (max-width: 850px) {
    p {
        font-size: 40px;
    }
    img.me {
        height: 100px;
        width: 100px;
        border: #FFFFFF 5px solid;
        border-radius: 25px;
    }
    li {
        font-size: 16px;
    }
}

ul#info-list {
  list-style-type:disc;
  clear: both;
  float: left;
  padding-top: 1%;
}

li {
  font-family: 'Times';
  font-size: 16px;
}

ul#icon-list li {
  display: inline;
}

ul#icon-list {
  clear: both;
  float: left;
  margin-left: -1%;
}

#info {
  display: none;
}

#resume {
  display: none;
}
